//
// SASS Anchor Offset Mixin
// MIT License
// Github: https://github.com/bensochar/sass-anchor-offset
// -------------------------------------------------
// Examples:
/*
  Usage if you have a large document with lots of anchors and
  want to preserve a 20px top margin on your H1 tags:
  .faqs > h1 {
    @include anchor-offset($navbar-height, 20px);
  }

  Example with Bootstrap Varibles:
  .element-with-an-anchor {
    @include anchor-offset($navbar-height);
  }
*/

@mixin anchor-offset($offset, $padding-top:false) {
  border-top: $offset solid transparent;
  margin-top: -$offset;

  // Contain the elements background color/image
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  // This is the clearfix
  zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }

  // We can substitute padding top for the margin top we will be replacing
  @if $padding-top {
    padding-top: $padding-top;
  }
}