.nav-inline {
  > li {
    display: inline;
  }
  > li > a {
    display: inline-block;
  }
}
.nav-centered {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

// Table layouut
// Extending container and grid classes
// -------------------------------------------------
.table-layout {
  width: 100%;
  > * {
    float: none;
    display: block;
    position: relative;
    padding-left: ($grid-gutter-width/2);
    padding-right: ($grid-gutter-width/2);
    @media (min-width: $screen-sm-min) {
      display: table-cell;
      width: 0.1%;
    }
  }
}


// Layout
// Extending container and grid classes
// -------------------------------------------------
article.post,
article.project{
  @extend .container;

}
.center-content{
  // @extend .col-xs-12;
  // @extend .col-sm-10;
  // @extend .col-md-offset-1;
  // @extend .col-md-8;
  // @extend .col-md-offset-2;

  @extend .col-xs-24;
  @extend .col-sm-18;
  @extend .col-sm-offset-3;
  @extend .col-md-14;
  @extend .col-md-offset-5;
  @extend .col-lg-14;
  @extend .col-lg-offset-5;
}



// Project Gallery
// -------------------------------------------------
.gallery-project {
  // width: 100%;
  position: relative;
  text-align: center;
  @extend .center-block;
  .gallery-project-figure {
    overflow: hidden;
  }
  .gallery-project-item {
    margin:0;
    text-align: center;
    margin-bottom: $line-height-computed;
    overflow: visible;
    vertical-align: top;
    max-height: ($line-height-computed * 10);
    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
      padding-bottom: $line-height-computed;
      max-height: none;
    }
    img {
      margin: 0 auto;
      vertical-align: top;

    }
    img + img {
      @include box-shadow(0 1px 1px rgba(0,0,0,.15));
    }
    figcaption{

      font-size: $line-height-computed * 0.5;
      line-height: ceil($line-height-computed * 0.6666);

      margin: auto;
      text-align: center;
      @media (min-width: $screen-sm-min) {
        @include transition(all .15s linear);
        position: absolute;
        // bottom: $line-height-computed;
        left: $grid-gutter-width;
        right: $grid-gutter-width;
        top: 0;

      }
    }
    &:hover {
      figcaption{


        @media (min-width: $screen-sm-min) {


        }
      }
    }
  }
}

ul {
  list-style-position: outside;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
    @media (min-width: $screen-sm-min) {
      padding-left: 0;
    }
  // li:before {
  //   content: "•";
  //   width: 10px;
  //   margin-left: -10px;

  // }

}


.list-twitter-timeline {
  .tweet-avatar-img {
    width: $line-height-computed;
    height: auto;
  }
  .tweet-heading {
    font-size: $font-size-base;
    line-height: $line-height-computed;
    margin: 0;
  }
  .tweet-media {
    display: block;
    overflow: hidden;
    width: 100%;
    float: left;
    .media-object {
      max-width: 100%;
      height: auto;
      margin: 0;
    }
  }
  .nav-tweet-actions {
    width: 100%;
    > li {
      float: left;
    }
    > li {
      > a {
        line-height: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: $gray-dark;
        @include opacity(0.23);
        &:hover {
          @include opacity(0.67);

        }
        svg {
          color: $gray-dark;
          fill: $gray-dark;
          width: 16px;
          height: 16px;
          display: block;
        }
      }
      &.nav-tweet-action-retweet > a {
        line-height: 18px;
        padding-top: 6px;
        padding-bottom: 6px;
        svg {
          width: 18px;
          height: 18px;

        }
      }
    }

  }
}