<!-- _includes/collections-prev-next.html -->
{% capture the_collection %}{{ page.collection }}{% endcapture %}
{% if page.collection %}
  {% assign document = (site[the_collection] | sort: 'title') %}
{% endif %}
{% for links in document %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prev_title = prev.title %}
      {% assign prev_client = prev.client %}
      {% assign prevurl = prev.url %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign next_title = next.title %}
      {% assign next_client = next.client %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}
<nav class="nav-pager nav-pager-{{ include.param }} clearfix">
  <ul class="pager">

    <li class="pager-prev">
      {% if prevurl %}
      <a href="{{prevurl}}" title="View {{ prev_client }} - {{ prev_title }}" class="pager-url">
        <span class="icon icon-lt">&larr;</span>
        <!-- <span class="hidden-xs">{{ prev_client }} &mdash; </span> -->
        <span class="pager-text">{{ prev_title }}</span>
      </a>
      {% endif %}
    </li>
    <li class="pager-next">
      {% if nexturl %}
      <a href="{{nexturl}}" title="View {{ prev_client }} - {{ prev_title }}" class="pager-url">
        <!-- <span class="hidden-xs">{{ next_title }} &mdash; </span> -->
        <span class="pager-text">{{ next_title }}</span>
        <span class="icon icon-gt">&rarr;</span>
      </a>
      {% endif %}
    </li>

  </ul>
</nav>