<hr>
<footer class="container pb-5">    
  <nav class="nav justify-content-center">
    <a href="mailto:{{ site.email }}" class="nav-link icon-link">{% include svgs/envelope.svg %} {{ site.email }}</a>
    <a href="https://github.com/{{ site.github_username }}" rel="nofollow" target="_blank" class="nav-link icon-link">{% include svgs/github.svg %} {{ site.github_username }}</a>
    <a href="https://twitter.com/{{ site.twitter_username }}" rel="nofollow" target="_blank" class="nav-link icon-link">{% include svgs/twitter.svg %} @{{ site.twitter_username }}</a>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" rel="nofollow" target="_blank" class="nav-link icon-link">{% include svgs/linkedin.svg %} {{ site.linkedin_username }}</a>
    <a href="https://www.instagram.com/{{ site.instagram_username }}" rel="nofollow" target="_blank" class="nav-link icon-link">{% include svgs/instagram.svg %} {{ site.instagram_username }}</a>
    <a href="https://bsky.app/profile/{{ site.bluesky_username }}" rel="nofollow" target="_blank" class="nav-link icon-link">{% include svgs/square.svg %} {{ site.bluesky_username }}</a>
    <a href="https://mastodon.social/{{ site.mastodon_username }}" rel="nofollow" target="_blank" class="nav-link icon-link">{% include svgs/mastodon.svg %} {{ site.mastodon_username }}</a>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="nav-link icon-link">{% include svgs/rss.svg %} RSS</a>
  </nav>
  <p class="text-center text-muted small lh-sm copyright">&copy; {{ site.title }} 2016</p>
</footer>