<footer class="site-footer">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-xs-12 col-xs-24">
        <ul class="nav nav-inline nav-centered nav-stacked-xs">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %} {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li>
            <a href="{{ " /feed.xml " | prepend: site.baseurl }}">RSS</a>
          </li>
        </ul>
      </div>
<!--       <div class="col-xs-12 col-sm-6">
        <h3 class="h3">{{ site.title }}</h3>
        <p>{{ site.description }}</p>
      </div> -->
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="{{ "/assets/javascripts/twitter-timeline.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/javascripts/jquery.unveil.js" | prepend: site.baseurl }}"></script>

<script src="https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="//npmcdn.com/isotope-packery@2/packery-mode.pkgd.js"></script>
<script src="https://npmcdn.com/colcade@0/colcade.js"></script>
<script src="{{ "/assets/javascripts/main.js" | prepend: site.baseurl }}"></script>