
<!-- _includes/img-gallery.html -->
{% assign img_path = page.url | replace: '/projects/','' | downcase %}
{% assign col_total = 0 %}
{% assign project_imgs = '' | split: ',' %}
{% for image in site.static_files %}
  {% if image.path contains img_path %}
    {% unless image.extname == '.webp' or image.path contains '.low' %}
        {% assign img_file = image.path %}
        {% unless img_file == previous_img_file %}
          {% assign project_imgs = project_imgs | push: image %}
        {% endunless %}
      {% assign previous_img_file = img_file %}
    {% endunless %}
  {% endif %}
{% endfor %}

<div class="clearfix"></div>
<div class="container">
  <div class="row text-center">
    <div class="clearfix"></div>
    <div id="js-gallery-project" class="clearfix js-gallery-project gallery-project">
    {% for img in project_imgs %}
        {% assign show_image = true %}
        {% assign img_array = img.path | split: '/' %}
        {% assign img_array = img_array.last | split: '.' %}

        {% comment %}

        {% endcomment %}

        {% assign img_name        = img.path | replace: '.jpg', '' | replace: '.gif', '' | replace: '.png', '' %}

        {% assign img_width       = img_array[1] | plus: 0 %}
        {% assign img_height      = img_array[2] | plus: 0 %}

        {% assign img_caption     = '' %}
        {% assign img_caption     = img_array[0] | replace: '-',' ' | replace: '.nochrome', '' | replace: '1', '' | replace: '2' %}

        {% assign webp_file       = img_name | prepend: site.baseurl | append: '.webp' %}
        {% assign webp_file_low   = img_name | prepend: site.baseurl | append: '.low' | append: '.webp' %}
        {% assign jpg_file        = img.path | prepend: site.baseurl %}
        {% assign jpg_file_low    = img_name | prepend: site.baseurl | append: '.low' | append: img.extname %}




        {% if img_width <= 360 %}
          {% assign col_width = 4 %}
          {% assign chrome_height = 73 %}
        {% elsif img_width <= 768 %}
          {% assign col_width = 5 %}
          {% assign chrome_height = 65 %}
        {% elsif img_width <= 1024 %}
          {% assign col_width = 6 %}
          {% assign chrome_height = 65 %}
        {% elsif img_width <= 1680 %}
          {% assign col_width = 8 %}
          {% assign chrome_height = 75 %}
        {% endif %}
        {% if img_width == 0 %}
          {% assign show_image = false %}
        {% endif %}
        {% assign col_total = col_total | plus: col_width %}

        {% if forloop.last %}
        {% assign offset = 24 | minus: col_total | divided_by: 2 %}
        {% endif %}
        {% if show_image %}
        <div class="col-xs-24 col-sm-{{col_width}} col-md-{{col_width}} gallery-project-item gallery-project-item" style="">
          <figure class="gallery-project-figure">
            {% if img.path contains '.nochrome' %}
            {% else %}
            <picture class="gallery-project-chrome gallery-project-chrome">
              <source srcset="{{ site.baseurl }}/assets/images/{{ img_width | prepend: 'browser-chrome-' | append: '.webp' }}" type="image/webp">
              <img src="{{ site.baseurl }}/assets/images/{{ img_width | prepend: 'browser-chrome-' | append: '.png' }}" class="img-responsive" width="{{ img_width }}" height="{{ chrome_height }}">
            </picture>
            {% endif %}
            <picture>
              <source srcset="{{ webp_file_low }}" data-src="{{ webp_file }}" data-src-retina="{{ webp_file }}" type="image/webp">
              <img src="{{ jpg_file_low }}" data-src="{{ jpg_file }}" data-src-retina="{{ jpg_file }}" alt="{{ img_caption | capitalize }}" class="img-responsive" width="{{img_width}}" height="{{img_height}}">
              <noscript>
                <source srcset="{{ webp_file }}" type="image/webp">
                <img src="{{ jpg_file  }}" alt="{{ img_caption | capitalize }}" class="img-responsive" width="{{img_width}}" height="{{img_height}}">
              </noscript>
            </picture>
            <figcaption>{{ img_caption | trim | capitalize }}</figcaption>
          </figure>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="clearfix"></div>
  </div>
</div>