
<!-- _includes/img-gallery.html -->
{% assign img_path = page.url | replace: '/projects/','' | downcase %}
{% assign include_path = img_path | prepend: 'projects/' %}

{% assign project_imgs = '' | split: ',' %}
{% for image in site.static_files %}
  {% if image.path contains img_path %}
    {% unless image.extname == '.webp' or image.path contains '.low' %}
        {% assign img_file = image.path %}
        {% unless img_file == previous_img_file %}
          {% assign project_imgs = project_imgs | push: image %}
        {% endunless %}
      {% assign previous_img_file = img_file %}
    {% endunless %}
  {% endif %}
{% endfor %}

<div class="container-lg">
  <div class="row cursor-grab justify-content-start align-items-start flex-row flex-nowrap overflow-x-auto overflow-y-hidden overscroll-x-contain scroll-snap-type-x scroll-snap-align-start scroll-behavior-smooth mt-0 justify-content-lg-center align-items-lg-center cursor-lg-auto flex-lg-wrap overflow-lg-hidden js-isotope-layout">
    {% for img in project_imgs %}
      {% assign show_image = true %}
      {% assign img_array = img.path | split: '/' %}
      {% assign img_array = img_array.last | split: '.' %}

      {% assign img_name        = img.path | replace: '.jpg', '' | replace: '.gif', '' | replace: '.png', '' %}
      {% assign img_width       = img_array[1] | plus: 0 %}
      {% assign img_height      = img_array[2] | plus: 0 %}

      {% assign img_caption     = '' %}
      {% assign img_caption     = img_array[0] | replace: '-',' ' | replace: '.nochrome', '' | replace: '1', '' | replace: '2' %}

      {% assign img_slug        = img_caption | slugify %}

      {% assign webp_file       = img_name | prepend: site.baseurl | append: '.webp' %}
      {% assign jpg_file        = img.path | prepend: site.baseurl %}
      {% assign txt_file        = img.name | replace: '.jpg', '.txt' | replace: '.gif', '.txt' | replace: '.png', '.txt' | prepend: include_path %}

      {% assign chrome_size     = 'sm' %}
      {% assign chrome_height   = 'ch-32 ch-lg-20' %}
      {% assign col_width       = 'col-lg-3' %}

      {% if img_width <= 360 or img_width == 1170 %}
        {% assign col_width = 'col-lg-3' %}
      {% elsif img_width == 768 or img_width == 1536 %}
        {% assign col_width = 'col-lg-5' %}
        {% assign chrome_height = 'ch-24 ch-lg-16' %}
      {% elsif img_width <= 1024 or img_width == 2048 or img_width == 3110 %}
        {% assign col_width = 'col-lg-6' %}
        {% assign chrome_height = 'ch-24' %}
        {% assign chrome_size = 'lg' %}
      {% elsif img_width <= 1680 or img_width == 3360 %}
        {% assign col_width = 'col-lg-6' %}
        {% assign chrome_height = 'ch-20' %}
        {% assign chrome_size = 'lg' %}
      {% endif %}
      {% if img_width == 0 %}
        {% assign show_image = false %}
      {% endif %}

      {% if show_image %}
      <div class="col-23 {{col_width}} mxw-{{img_width}} mt-0 js-isotope-item">
        <figure class="m-0 pb-3">
          {% unless img.path contains '.nochrome' %}
          <picture class="d-flex flex-row flex-nowrap justify-content-between align-items-stretch overflow-hidden {{ chrome_height }} chrome">
            <div class="chrome-start {{ chrome_height }}">
              {% if chrome_size == 'lg' %}
              {% include svgs/chrome-start.svg %}
              {% else  %}
              {% include svgs/chrome-start-sm.svg %}
              {% endif %}
            </div>
            <div class="flex-grow-1 flex-fill {{ chrome_height }}">
              {% if chrome_size == 'lg' %}
              {% include svgs/chrome-center.svg %}
              {% else  %}
              {% include svgs/chrome-center-sm.svg %}
              {% endif %}
            </div>
            <div class="chrome-end {{ chrome_height }}">
              {% if chrome_size == 'lg' %}
              {% include svgs/chrome-end.svg %}
              {% else  %}
              {% include svgs/chrome-end-sm.svg %}
              {% endif %}
            </div>
          </picture>
          {% endunless %}
          <picture class="d-block text-center">
            <img src="{% include {{ txt_file }} %}" data-src="{{ jpg_file }}" alt="{{ img_caption | capitalize }}" class="mxw-100 mx-auto h-auto js-lazy" width="{{img_width}}" height="{{img_height}}">
            <noscript>
              <source srcset="{{ webp_file }}" type="image/webp">
              <img src="{{ jpg_file  }}" alt="{{ img_caption | capitalize }}" class="img-responsive" width="{{img_width}}" height="{{img_height}}">
            </noscript>
          </picture>
          <figcaption class="small lh-sm text-muted m-0">{{ img_caption | trim | capitalize }}</figcaption>
        </figure>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>