<!-- includes/list-posts -->
{% if page.name == 'index.html' %}
  {% assign count = 10 %}
{% else %}
  {% assign count = 1000 %}
{% endif %}
<div class="container">
  <div id="posts" class="row justify-content-center">
    <div class="col-md-18 col-lg-14 col-xl-12">
      <h1><a href="{{ '/posts/' | prepend: site.baseurl }}" class="text-body">Posts</a></h1>
      <ul class="list-unstyled">
        {% for post in site.posts limit:count %}
          <li class="list-file-tree-item d-flex flex-row align-items-center">
            <small class="text-body-tertiary font-monospace me-1 lh-1">└─</small><a href="{{ post.url | prepend: site.baseurl }}" class="js-random-bg-color-hover icon-link py-1">{{ post.title }} &mdash; {{ post.date | date: "%b %-d, %Y" }}</a>
          </li>
        {% endfor %}
      </ul>
      {% if page.name == 'index.html' %}
        <p class="mt-n4">
          <a href="{{ '/posts/' | prepend: site.baseurl }}"class="icon-link">More {% include svgs/arrow-right.svg %}</a>
        </p>
      {% endif %}
    </div>
  </div><!-- /.row -->
</div><!-- /.containe -->