<!-- includes/list-tweets -->
<div id="tweets" class="list-tweets">
  <div class="container">
    <div class="row">
      <div class="center-content">
        <h1 class="h1 title-file-tree"><a class="page-link" href="https://twitter.com/bensochar" target="_blank">tweets</a></h1>
        <ul id="js-twitter-timeline" class="list-twitter-timeline fade">
        </ul>
      </div>
      <!-- .center-content -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- .list-tweets -->
<div class="clearfix"></div>
<a class="twitter-timeline" data-dnt="true" data-tweet-limit="20" data-show-replies="false" href="https://twitter.com/bensochar" data-widget-id="731936434932862976">Tweets by @bensochar</a>
<script>
// ! function(d, s, id) {
//   var js, fjs = d.getElementsByTagName(s)[0],
//     p = /^http:/.test(d.location) ? 'http' : 'https';
//   if (!d.getElementById(id)) {
//     js = d.createElement(s);
//     js.id = id;
//     js.src = p + "://platform.twitter.com/widgets.js";
//     fjs.parentNode.insertBefore(js, fjs);
//   }
// }(document, "script", "twitter-wjs");
</script>
<!--
<div class="timeline-Tweet timeline-Tweet--isRetweet u-cf js-tweetIdInfo" data-tweet-id="707757718342389760" data-rendered-tweet-id="557328423602098178" data-scribe="component:tweet">
  <div class="timeline-Tweet-brand u-floatRight">
    <div class="Icon Icon--twitter " aria-label="" title="" role="presentation"></div>
  </div>
  <div class="timeline-Tweet-retweetCredit">
    <div class="timeline-Tweet-retweetCreditIcon">
      <div class="Icon Icon--retweetBadge " aria-label="" title="" role="presentation"></div>
    </div>
    Benjamin Sochar Retweeted
  </div>
  <div class="timeline-Tweet-author">
    <div class="TweetAuthor" data-scribe="component:author">
      <a class="TweetAuthor-link Identity u-linkBlend" data-scribe="element:user_link" href="https://twitter.com/davechenell" aria-label="Dave Chenell (screen name: davechenell)">
        <span class="TweetAuthor-avatar Identity-avatar">
      <img class="Avatar" data-scribe="element:avatar" data-src-2x="https://pbs.twimg.com/profile_images/415156110018875392/Nr-5D-16_bigger.png" alt="" data-src-1x="https://pbs.twimg.com/profile_images/415156110018875392/Nr-5D-16_normal.png">
    </span>
        <span class="TweetAuthor-name Identity-name customisable-highlight" title="Dave Chenell" data-scribe="element:name">Dave Chenell</span>
        <span class="TweetAuthor-screenName Identity-screenName" title="‎@davechenell" data-scribe="element:screen_name">‎@davechenell</span>
      </a>
    </div>
  </div>
  <p class="timeline-Tweet-text" lang="en" dir="ltr">guys i just invented the best programming language </p>
  <div class="timeline-Tweet-media">
    <article class="MediaCard
           MediaCard--mediaForward

           customisable-border" data-scribe="component:card" dir="ltr">
      <div class="MediaCard-media">
        <a class="MediaCard-borderOverlay" href="http://twitter.com/davechenell/status/557328423602098178/photo/1" role="presentation" tabindex="-1" title="View image on Twitter">
          <span class="u-hiddenVisually">View image on Twitter</span>
        </a>
        <div class="MediaCard-widthConstraint js-cspForcedStyle" style="max-width: 600px" data-style="max-width: 600px">
          <div class="MediaCard-mediaContainer js-cspForcedStyle" style="padding-bottom: 62.6667%" data-style="padding-bottom: 62.6667%">
            <a class="MediaCard-mediaAsset
                    NaturalImage
" href="http://twitter.com/davechenell/status/557328423602098178/photo/1" data-scribe="element:photo"><img class="NaturalImage-image" data-srcset="https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FB7wHP3zIAAA0wi-.png%3Alarge 864w,https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FB7wHP3zIAAA0wi-.png 600w,https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FB7wHP3zIAAA0wi-.png%3Asmall 340w" width="600" height="376" title="View image on Twitter" alt="View image on Twitter"></a>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="timeline-Tweet-metadata">
    <a href="https://twitter.com/davechenell/status/557328423602098178" class="timeline-Tweet-timestamp" data-scribe="element:mini_timestamp">
      <time class="dt-updated" datetime="2015-01-20T00:07:05+0000" pubdate="" title="Time posted: 20 Jan 2015, 00:07:05 (UTC)" aria-label="Posted on 20 Jan">
        20 Jan</time>
    </a>
  </div>
  <ul class="timeline-Tweet-actions" data-scribe="component:actions" role="menu" aria-label="Tweet actions">
    <li class="timeline-Tweet-action">
      <a class="TweetAction TweetAction--heart web-intent" href="https://twitter.com/intent/like?tweet_id=557328423602098178" data-scribe="element:heart">
        <div class="Icon Icon--heart TweetAction-icon" aria-label="Like" title="Like" role="img"></div>
      </a>
    </li>
    <li class="timeline-Tweet-action timeline-ShareMenu">
      <a class="TweetAction TweetAction--share js-showShareMenu" href="#" aria-haspopup="true" data-scribe="component:share">
        <div class="Icon Icon--share " aria-label="Share Tweet" title="Share Tweet" role="img"></div>
      </a>
      <div class="timeline-ShareMenu-container">
        <div class="timeline-ShareMenu-caret"></div>
        <h3 class="timeline-ShareMenu-title">Share on</h3>
        <ul role="menu">
          <li><a class="timeline-ShareMenu-option" href="https://twitter.com/intent/retweet?tweet_id=557328423602098178" role="menuitem" data-scribe="element:twitter">Twitter</a></li>
          <li><a class="timeline-ShareMenu-option" href="https://facebook.com/dialog/share?app_id=2231777543&amp;display=popup&amp;href=https%3A%2F%2Ftwitter.com%2Fdavechenell%2Fstatus%2F557328423602098178" role="menuitem" data-scribe="element:facebook">Facebook</a></li>
          <li><a class="timeline-ShareMenu-option" href="https://linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Ftwitter.com%2Fdavechenell%2Fstatus%2F557328423602098178" role="menuitem" data-scribe="element:linkedin">LinkedIn</a></li>
          <li><a class="timeline-ShareMenu-option" href="https://tumblr.com/widgets/share/tool?canonicalUrl=https%3A%2F%2Ftwitter.com%2Fdavechenell%2Fstatus%2F557328423602098178" role="menuitem" data-scribe="element:tumblr">Tumblr</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div> -->
<!--
<div class="timeline-Tweet-media">
  <article class="MediaCard


           customisable-border" data-scribe="component:card" dir="ltr">
    <div class="MediaCard-media">
      <div class="MediaCard-widthConstraint js-cspForcedStyle" style="max-width: 560px" data-style="max-width: 560px">
        <div class="MediaCard-mediaContainer js-cspForcedStyle" style="padding-bottom: 122.5000%" data-style="padding-bottom: 122.5000%">
          <a class="MediaCard-mediaAsset
                    NaturalImage
NaturalImage--roundedTop
                    NaturalImage--roundedBottom" href="http://twitter.com/bensochar/status/674995200046080001/photo/1" data-scribe="element:photo"><img class="NaturalImage-image" data-srcset="https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FCV4Qjp3UsAAqJyZ.jpg%3Alarge 560w,https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FCV4Qjp3UsAAqJyZ.jpg 560w,https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FCV4Qjp3UsAAqJyZ.jpg%3Asmall 340w" width="560" height="686" title="View image on Twitter" alt="View image on Twitter"></a>
        </div>
      </div>
    </div>
  </article>
</div>

<div class="timeline-Tweet-media">
  <div class="PrerenderedCard" data-card-name="summary" data-css="https://ton.twimg.com/tfw/css/syndication_bundle_v1_a8b7ca7f4dc426e605bae285b2162e52c8f1021d.css" data-scribe="component:card">
    <div class="TwitterCardsGrid TwitterCard">
      <script type="text/twitter-cards-serialization">
        { "strings": { }, "card": { "forward" : "false", "publisher_id" : "811377", "is_logged_in" : false, "is_author" : false, "language" : "en", "card_name" : "summary", "token" : "", "card_uri" : "https://t.co/UiMpztZpdo", "tweet_id" : "695378693510672384", "card_url" : "https://t.co/UiMpztZpdo" }, "scribeData": { "card_name": "summary", "card_url": "https://t.co/UiMpztZpdo" , "publisher_id": "811377" } }
      </script>
      <div class="TwitterCardsGrid-col--12 TwitterCardsGrid-col--spacerBottom CardContent">
        <a class="js-openLink u-block TwitterCardsGrid-col--12 TwitterCard-container TwitterCard-container--clickable SummaryCard--small" href="https://t.co/UiMpztZpdo">
          <div class="SummaryCard-image TwitterCardsGrid-float--prev">
            <div class="tcu-imageContainer tcu-imageAspect--1to1">
              <style>
              .tcu-image-695378693510672384 {
                background-image: url(https://o.twimg.com/2/proxy.jpg?t=HBglaHR0cHM6Ly93d3cucmVkZGl0c3RhdGljLmNvbS9pY29uLnBuZxSABBSABBwU8AEU8AEAABYAEgA&s=sKxaJIJG46EzGcNqSSvGSPoEX15-H92yulSzyNRrXS8) !important;
                background-size: cover !important;
              }
              </style>
              <div class="tcu-imageWrapper tcu-image-695378693510672384 js-cspForcedStyle" data-style="background-image: url(https://o.twimg.com/2/proxy.jpg?t=HBglaHR0cHM6Ly93d3cucmVkZGl0c3RhdGljLmNvbS9pY29uLnBuZxSABBSABBwU8AEU8AEAABYAEgA&amp;s=sKxaJIJG46EzGcNqSSvGSPoEX15-H92yulSzyNRrXS8); background-size: cover;">
                <img class="u-block" src="https://o.twimg.com/2/proxy.jpg?t=HBglaHR0cHM6Ly93d3cucmVkZGl0c3RhdGljLmNvbS9pY29uLnBuZxSABBSABBwU8AEU8AEAABYAEgA&amp;s=sKxaJIJG46EzGcNqSSvGSPoEX15-H92yulSzyNRrXS8" alt="Photo published for I'm Kirk Cousins, ask me anything! • /r/nfl">
              </div>
            </div>
          </div>
          <div class="SummaryCard-contentContainer TwitterCardsGrid-float--prev">
            <div class="SummaryCard-content">
              <h2 class="TwitterCard-title js-cardClick tcu-textEllipse--multiline">I'm Kirk Cousins, ask me anything! • /r/nfl</h2>
              <p class="tcu-resetMargin u-block TwitterCardsGrid-col--spacerTop tcu-textEllipse--multiline">Are you aware of r/kirkcousins?</p>
              <span class="u-block TwitterCardsGrid-col--spacerTop SummaryCard-destination">reddit.com</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
-->