<!-- includes/list-projects -->
<div id="projects" class="container">
  <div class="row justify-content-center">
    <div class="col-24 col-md-18 col-lg-12">
      <h1 class="h1"><a href="{{ '/projects/' | prepend: site.baseurl }}">Projects</a></h1>
      <ul class="list-unstyled">
        {% assign sorted_projects = (site.projects | sort: 'title') %}
        {% for project in sorted_projects %}
          {% assign project_tags = project.tags | join: ' ' %}
          <li class="list-file-tree-item d-flex flex-row align-items-center">
            <code class="box-drawing lh-1 me-1">{% if forloop.last %}└─{% else %}├─{% endif %}</code><a href="{{ project.url | prepend: site.baseurl }}" class="js-random-bg-color-hover flex-fill">{{ project.client }} &mdash; {{ project.title }} {% if project.favorite %}{% include svgs/star.svg %}{% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
