<!-- includes/list-projects -->
<div id="projects" class="list-projects">
  <div class="container">
    <div class="row">
      <div class="center-content">
        <h1 class="h1 title-file-tree"><a class="page-link" href="{{ '/projects/' | prepend: site.baseurl }}">projects</a></h1>
        <ul class="list-file-tree">
          {% assign sorted_projects = (site.projects | sort: 'title') %}
          {% for project in sorted_projects %}
            {% assign project_tags = project.tags | join: ' ' %}
            <li class="list-file-tree-item {{ project_tags | downcase }}">
              <code class="box-drawing">{% if forloop.last %}└─{% else %}├─{% endif %}</code><a href="{{ project.url | prepend: site.baseurl }}" class="js-random-bg-color-hover">{{ project.client }} &mdash; {{ project.title }} {% if project.favorite %}{% include svgs/star.svg %}{% endif %}
                <!-- <span>{{ project.excerpt }}</span> -->
              </a>

            </li>
          {% endfor %}
        </ul>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.list-projects -->
