a[class*="bg-color-hover-"],
button[class*="bg-color-hover-"]{
  z-index: 1;
  position: relative;
  &:before {
    @include transition(all 0.10s linear);
    content: '';
    position: absolute;
    top: 0; right: 50%; bottom: 5%; left: 0;
    z-index: -1;
  }
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    &:before {
      @include transition(all 0s linear);
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
    }
  }
}
$i: 0 !default;
@each $colorname, $hex in $ncs-array {
  // $i: index($colorname, $ncs-array);

  .bg-color-#{""+$colorname},
  .bg-color-#{$i} {
    background: rgba($hex, 0.60);
  }

  .bg-color-hover-#{""+$colorname},
  .bg-color-hover-#{$i} {
    -webkit-tap-highlight-color: rgba($hex, 0.40);
    &:before {
      background: rgba($hex, 0);
    }
    &:hover,
    &:focus,
    &:active {
      &:before {
        background: rgba($hex, 0.60);
      }
    }
  }
  $i: ($i + 1);
}

// Adjustments for nav menus
// -------------------------------------------------
.nav-inline {
  > li {
    display: inline;
  }
  > li > a {
    display: inline-block;
  }
}
.nav-centered {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.nav-stacked-xs {
  > li {
    @media (max-width: $screen-xs-max) {
      display: block;
      float: none;
      margin: 0;
    }
  }
  > li > a {

    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }
}

// Table layouut
// Extending container and grid classes
// -------------------------------------------------
.table-layout {
  width: 100%;
  > * {
    float: none;
    display: block;
    position: relative;
    padding-left: ($grid-gutter-width/2);
    padding-right: ($grid-gutter-width/2);
    @media (min-width: $screen-sm-min) {
      display: table-cell;
      width: 0.1%;
    }
  }
}


// Layout
// Extending container and grid classes
// -------------------------------------------------
article.page,
article.post,
article.project{
  @extend .container;

}
.center-content{
  // @extend .col-xs-12;
  // @extend .col-sm-10;
  // @extend .col-md-offset-1;
  // @extend .col-md-8;
  // @extend .col-md-offset-2;

  @extend .col-xs-24;
  @extend .col-sm-18;
  @extend .col-sm-offset-3;
  @extend .col-md-14;
  @extend .col-md-offset-5;
  @extend .col-lg-14;
  @extend .col-lg-offset-5;
}

// Site's Footer
// -------------------------------------------------
.site-footer {
  padding-bottom: $line-height-computed * 2;
  .nav-footer > li  {}
  .nav-footer > li > a {
    > span {
      line-height: inherit;
      display: inline-block;
    }
    .icon {
      overflow: visible;
      width: 1rem;
      height: 1rem;
      position: relative;
      bottom: -1px;
    }
    .icon > svg {
      width: 1rem;
      height: 1rem;
    }
  }
  .copyright {
    margin-top: $line-height-computed * 3;
  }
}

// Page Template
// -------------------------------------------------
.page{
  img {
    @extend .img-responsive;
    display: block;
    float: none;
    clear: both;
    margin: 0 0 $line-height-computed 0;
    p {

    }
  }
}

// Project Template
// -------------------------------------------------
.projects {
  .p-role,
  .p-live-site {
    margin-bottom: 0;
  }
  .list-project-tags {
    padding: 0;
    .project-tag-first {
    }
  }

}


// Project Gallery
// -------------------------------------------------
.gallery-project {
  // width: 100%;
  margin-top: $line-height-computed;
  position: relative;
  text-align: center;
  overflow: hidden;
  @extend .center-block;


  .gallery-project-item {
    margin:0;
    text-align: center;
    margin-bottom: $line-height-computed;
    overflow: visible;
    vertical-align: top;

    // @include transition(all .6s ease-out);
    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
      padding-bottom: $line-height-computed;
      max-height: none;
    }

    .gallery-project-figure {
      overflow: hidden;
      max-height: ($line-height-computed * 14);
      @media (min-width: $screen-sm-min) {
        overflow: visible;
        max-height: none;
      }
      img {
        margin: 0 auto;
        vertical-align: top;


      }
      img + img {
        // @include box-shadow(0 1px 1px rgba(0,0,0,.15));
      }

    }
    .gallery-project-chrome {
      overflow: hidden;
      display: block;
      &-xs {
        height: $line-height-computed;
        @media (min-width: $screen-sm-min) {
          height: auto;
        }
      }

    }
    .gallery-project-media-low {
      position: relative;
    }
    .gallery-project-media-high {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    figcaption{
      @include border-bottom-radius(2px);
      // @include box-shadow(0 1px 1px rgba(0,0,0,.15));
      // border: 1px solid $gray-light;
      border-top: none;
      font-size: $font-size-small;
      line-height: 1.42857142857;

      background: $body-bg;
      color: $gray-dark;
      margin: 0;
      text-align: left;
      padding: ($line-height-computed / 4) ($grid-gutter-width / 2);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      @media (min-width: $screen-sm-min) {
        position: relative;
        font-size: $font-size-xsmall;
        line-height: ceil($line-height-computed * 0.6666);
        padding: ($line-height-computed / 4) 0;

      }
      @media (min-width: $screen-md-min) {
        font-size: $font-size-base;
      }
    }
    &:hover {
      figcaption{

        display: block;
        @media (min-width: $screen-sm-min) {


        }
      }
    }
  }
}



// Twitter Timeline
// -------------------------------------------------
.list-twitter-timeline {
  padding:0;
  margin: 0 0 $line-height-computed 0;
  > li {
    padding: 0;
    margin: 0 0 ($line-height-computed / 4) 0;
    display: block;
    .media-left:first-child {
      padding-right: 0;
    }
    .tweet-avatar-img {
      width: $line-height-computed;
      height: auto;
    }
    .tweet-heading {
      font-size: 1rem;
      line-height: $line-height-base;
      margin: 0;
      padding: 0;
      font-weight: $body-font-weight;
    }
    .tweet-text {
      margin-bottom: ($line-height-computed / 4);
      white-space: normal;
    }
    .tweet-media {
      display: block;
      overflow: hidden;
      width: 100%;
      float: left;
      margin-bottom: ($line-height-computed / 4);
      .media-object {
        max-width: 100%;
        height: auto;
        margin: 0;
      }
    }

  }


  .nav-tweet-actions {
    width: 100%;
    > li {
      float: left;
    }
    > li {
      > a {
        line-height: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: $gray-dark;
        @include opacity(0.23);
        &:hover {
          @include opacity(0.67);

        }
        svg {
          width: 16px;
          height: 16px;

        }

      }
      &.nav-tweet-action-retweet > a {
        line-height: 18px;
        padding-top: 6px;
        padding-bottom: 6px;
        svg {
          width: 18px;
          height: 18px;

        }
      }
    }

  }
}