// Icons
// -------------------------------------------------
.icon {
  line-height: $line-height-computed;
  display: inline-block;
  > svg {
    display: inline-block;
    width: $line-height-computed * 0.75;
    height: $line-height-computed * 0.75;
    margin: auto;
    path {
      fill: $gray;
    }
  }
}


// Hover Colors
// -------------------------------------------------
a[class*="bg-color-hover-"],
button[class*="bg-color-hover-"] {
  z-index: 1;
  position: relative;
  // will-change: background, right, bottom;
  &:before {
    @include transition(all 0.10s linear);
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 5%;
    left: 0;
    z-index: -1;
  }
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    &:before {
      @include transition(all 0s linear);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

$i: 0 !default;
@each $colorname,
$hex in $ncs-array {
  // $i: index($colorname, $ncs-array);
  .bg-color-#{""+$colorname},
  .bg-color-#{$i} {
    background: rgba($hex, 0.60);
  }
  .bg-color-hover-#{""+$colorname},
  .bg-color-hover-#{$i} {
    -webkit-tap-highlight-color: rgba($hex, 0.40);
    &:before {
      background: rgba($hex, 0);
    }
    &:hover,
    &:focus,
    &:active {
      &:before {
        background: rgba($hex, 0.60);
      }
    }
  }
  $i: ($i + 1);
}

// Adjustments for nav menus
// -------------------------------------------------
.nav-inline {
  > li {
    display: inline;
  }
  > li > a {
    display: inline-block;
  }
}

.nav-centered {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-stacked-xs {
  > li {
    @media (max-width: $screen-xs-max) {
      display: block;
      float: none;
      margin: 0;
    }
  }
  > li > a {
    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }
}

// Table layouut
// Extending container and grid classes
// -------------------------------------------------
.table-layout {
  width: 100%;
  > * {
    float: none;
    display: block;
    position: relative;
    padding-left: ($grid-gutter-width/2);
    padding-right: ($grid-gutter-width/2);
    @media (min-width: $screen-sm-min) {
      display: table-cell;
      width: 0.1%;
    }
  }
}

// Layout
// Extending container and grid classes
// -------------------------------------------------
article.page,
article.post,
article.project {
  @extend .container;
}

.center-content {
  @extend .col-xs-24;
  @extend .col-sm-18;
  @extend .col-sm-offset-3;
  @extend .col-md-14;
  @extend .col-md-offset-5;
  @extend .col-lg-14;
  @extend .col-lg-offset-5;
}

// Site's Footer
// -------------------------------------------------
.site-footer {
  padding-bottom: $line-height-computed * 2;
  .nav-footer > li {}
  .nav-footer > li > a {
    > span {
      line-height: inherit;
      display: inline-block;
    }
    .icon {
      overflow: visible;
      width: 1rem;
      height: 1rem;
      line-height: 1rem;
      position: relative;
      bottom: -1px;
    }
    .icon > svg {
      width: 1rem;
      height: 1rem;
    }
  }
  .copyright {
    margin-top: $line-height-computed * 3;
  }
}

// Page & Post Template
// -------------------------------------------------
article.page,
article.post {
  embed,
  iframe,
  img,
  object,
  .twitter-tweet {
    float: none;
    clear: both;
    margin: 0 auto $line-height-computed auto;
    border: 0 none transparent;
  }
  embed,
  iframe,
  object {
    display: block;
  }
  img {
    @extend .img-responsive;
    text-align: center;
  }
  .twitter-tweet {
    opacity: 0;
    width: 100%;
    max-width: 504px;
    display: block;
  }
  .twitter-tweet-rendered {
    opacity: 1;
  }
  h4[id] {
    @include anchor-offset($navbar-height, $line-height-computed);
  }

}

// Project Template
// -------------------------------------------------
.projects {
  .p-role,
  .p-live-site {
    margin-bottom: 0;
  }
  .list-project-tags {
    padding: 0;
    .project-tag-first {}
  }
}

// Project Gallery
// -------------------------------------------------
.gallery-project {
  // width: 100%;
  margin-top: $line-height-computed;
  position: relative;
  text-align: center;
  @extend .center-block;
  .gallery-project-item {
    text-align: center;
    overflow: visible;
    vertical-align: top;
    // @include transition(all .6s ease-out);
    @media (max-width: $screen-xs-max) {
      margin: 0 0 $line-height-computed 0;
    }
    @media (min-width: $screen-sm-min) {
      margin: 0;
      padding-bottom: $line-height-computed;

    }
    .gallery-project-figure {

      @media (max-width: $screen-xs-max) {
        overflow: hidden;
        height: ($line-height-computed * 16);
      }
      @media (min-width: $screen-sm-min) {
        overflow: visible;

      }
      img {
        margin: 0 auto;
        vertical-align: top;
      }
      img + img {
        // @include box-shadow(0 1px 1px rgba(0,0,0,.15));
      }
    }
    .gallery-project-chrome {
      display: block;
      &-360 {
        // Set height only on mobile
        @media (max-width: $screen-xs-max) {
          overflow: hidden;
          height: $line-height-computed;
        }
        @media (min-width: $screen-sm-min) {
          height: auto;
        }
      }
    }
    .gallery-project-media-low {
      position: relative;
    }
    .gallery-project-media-high {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    figcaption {
      @include border-bottom-radius(2px);
      // @include box-shadow(0 1px 1px rgba(0,0,0,.15));
      // border: 1px solid $gray-light;
      border-top: none;
      font-size: $font-size-small;
      line-height: 1.42857142857;
      background: $body-bg;
      color: $gray;
      margin: 0;
      text-align: left;
      bottom: 0;
      left: 0;
      right: 0;
      @media (max-width: $screen-xs-max) {
        position: absolute;
        padding: ($line-height-computed / 4) ($grid-gutter-width / 2);
      }
      @media (min-width: $screen-sm-min) {
        // background: rgba(#ffffff, 0.66);
        position: relative;
        font-size: $font-size-xsmall;
        line-height: 1.45454545455;
        padding: ($line-height-computed / 4) 0 ($line-height-computed / 2);
      }
      @media (min-width: $screen-md-min) {
        font-size: $font-size-small;
        line-height: 1.42857142857;
      }
    }
    &:hover {
      figcaption {
        @media (min-width: $screen-sm-min) {}
      }
    }
  }
}