---
layout: page
permalink: /tags/
---
<!-- Create empty arrays -->
{% assign tags = '' | split: ',' %}
{% assign unique_tags = '' | split: ',' %}

<!-- Map and flatten -->
{% assign article_tags =  site.projects | map: 'tags' | join: ',' | join: ',' | split: ',' %}


<!-- Push to tags -->
{% for tag in article_tags '%}
  {% assign tags = tags | push: tag %}
{% endfor %}

<!-- Uniq -->
{% assign tags = tags | sort %}

<!-- Uniq -->
{% assign tags = tags | sort %}
{% for tag in tags %}

  <!-- If not equal to previous then it must be unique as sorted -->
  {% unless tag == previous %}

    <!-- Push to unique_tags -->
    {% assign unique_tags = unique_tags | push: tag %}
  {% endunless %}

  {% assign previous = tag %}
{% endfor %}
  <!-- If not equal to previous then it must be unique as sorted -->
<ul class="tag-cloud">
{% for tag in unique_tags %}
  <li>
    <a class="codinfox-tag-mark" href="/projects/#{{ tag | slugify }}">{{ tag }}</a>

  </li>
{% endfor %}
</ul>

