---
layout: default
---
<!-- _layouts/project.html -->
<article class="container" itemscope itemtype="http://schema.org/WebSite">
  <div class="row justify-content-center">
    <div class="col-24 col-md-18 col-lg-12">
      <h1>{{ page.client }} - {{ page.title }}</h1>
      {{ page.content }}
      <hr>
      <dl class="row">
        {% if page.role %}
        <dt class="col-4">Role</dt>
        <dd class="col-20">{{ page.role }}</dd>
        {% endif %}
        {% if page.live_site %}
        <dt class="col-4">Live Site</dt>
        <dd class="col-20"><a href="{{ page.live_site }}" target="_blank">{{ page.live_site }}</a></dd>
        {% endif %}
        <dt class="col-4">Tech used</dt>
        {% assign tag_length = page.tags.size %}
        {% assign oxford_break = tag_length | minus: 1 %}
        {% assign tag_index = 0 %}
        {% assign sorted_tags = page.tags | sort %}
        <dd class="col-20">
        {% for tag in sorted_tags %}
          {% assign tag_index = tag_index | plus: 1 %}
          {% if forloop.last %} &amp; {{ tag }}{% elsif tag_index == oxford_break %}{{ tag }}{% else %}{{ tag }}, {% endif %}</li>
        {% endfor %}
        </dd>
      </dl>
    </div><!-- .center-content -->
  </div><!-- .row -->
</article>

{% include img-gallery.html param="value" variable-param=page.title %}
{% include collections-prev-next.html  param='bottom' %}
